body {
	background-color: #F7F7F7;
}

.main-container {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.search-box-container input {
	border: none;
    border-bottom: 1px solid #A4A4A4;
	background-color: transparent;
	margin-left: 5px;
	padding-left: 3px;
	margin-bottom: 15px;
	margin-top: 15px;
	font-size: 18px;
}

.search-box-container label {
	color: #A4A4A4;
	font-size: 18px;
}

.search-box-container input:focus { 
	border: 0;
	border-bottom: 1px solid rgb(255, 8, 102);
	outline: none;
}

.movie-list-container {
	position: relative;
	background-color: white;
	box-shadow: 0 0 10px 0 rgba(34,33,46,0.15);
    width: 85%;
	align-self: center;
	padding: 15px;
}

.movie-list-container button {
	background-color: transparent;
	color: black;
	position: absolute;
	right: 9px;
	bottom: 9px;
	border: 2px solid black;
	font-size: 16px;
	cursor: pointer;
	line-height: 25px;
	vertical-align: middle;
}

.movie-list-container button:focus {
	outline: none;
}

.movie-list-container h1 {
	text-align: center;
}

.movie-list-container .movie-list {
	list-style: none;
	grid-template-columns: 1fr 1fr 1fr;
    display: grid;
    padding: 0;
    justify-self: center;
}

.movie-item {
	background-color: white;
	box-shadow: 0 0 10px 0 rgba(34,33,46,0.15);
	justify-self: center;
	width: 300px;
	margin-bottom: 20px;
	position: relative;
    display: flex;
    flex-direction: column;
	justify-items: flex-end;
	padding-bottom: 7px;
	border-bottom: 3px solid rgb(255, 8, 102)
}

.movie-item h1 {
	text-align: center;
	margin-top: auto;
	font-size: 24px;
	padding-right: 7px;
	padding-left: 7px;
	margin-bottom: 0;
}

.movie-item img {
	margin: auto;
}

.loader-wrapper {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: rgba(0, 0, 0, 0.089);
	height: 100%;
	z-index: 1;
	overflow-y: auto;
}

.loader {
		display: inline-block;
		position: relative;
		width: 64px;
		height: 64px;
		left: 50%;
		top: 200px;
		z-index: 2;
}

.loader div {
	box-sizing: border-box;
	display: block;
	position: absolute;
	width: 51px;
	height: 51px;
	margin: 6px;
	border: 6px solid rgb(228, 96, 96);
	border-radius: 50%;
	animation: loader 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
	border-color: rgb(228, 96, 96) transparent transparent transparent;
}

.loader div:nth-child(1) {
	animation-delay: -0.45s;
}

.loader div:nth-child(2) {
	animation-delay: -0.3s;
}

.loader div:nth-child(3) {
	animation-delay: -0.15s;
}

@keyframes loader {
	0% {
		transform: rotate(0deg);
	}

	100% {
		transform: rotate(360deg);
	}
}